@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* Gradient text for headings */
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

/* Ensure inputs have consistent appearance */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.2) inset !important;
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.2) inset !important;
  -webkit-text-fill-color: #1f2937 !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}